{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://kit.fontawesome.com/b5dde61ab1.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>

<body>
    <div class="navbar">
        <img src="{% static 'images/bggg.png' %}" alt="logo" class="logo">
        <p class="pm"> Patient Monitoring</p>
        <div class="search">

            <input type="text" placeholder="search here..." id="searchbar">
            <div class="circle"></div>
            <a class="search-btn" href="{% url 'search' %}">
                <i class="fa-solid fa-magnifying-glass " id="sicon"></i>
            </a>

        </div>
        <a href="{% url 'noti' %}"> <i class="fa-solid fa-bell "></i></a>
        <img src="{% static 'images/profile.png' %}" alt="profile" class="prfle">
    </div>
    <div class="main">
        <div class="side">
            <div class="profile">
                <i class="fa-solid fa-user-doctor fa-4x"></i>
                <div class="pname">
                    <p>Dishant Adesara</p>
                    <p>Admin</p>
                </div>

            </div>
            <p id="hline">______________________________________</p>
            <div class="sd">
                <i class="fa-solid fa-user-doctor fa-2x" id="doc"></i>
                <p id="sdp">Specialized Doctors</p>
            </div>
            <div class="sd">
                <i class="fa-regular fa-hospital fa-2x"></i>
                <a href="{% url 'hospital' %}"><p id="sdp">Hospitals</p></a>
            </div>
            <div class="sd">
                <i class="fa-solid fa-star-of-life fa-2x"></i>
                <p id="sdp">Emergency Ward</p>
            </div>
            <div class="sd">
                <i class="fa-solid fa-capsules fa-2x"></i>
                <a href="{% url 'medicine' %}">      <p id="sdp">Medicine</p></a>
            </div>
            <div class="sd">
                <p id="pay">₹</p>
            <a href="{% url 'payment' %}">    <p id="sdp">Payments</p></a>
            </div>
            <div class="setting">
                <i class="fa-solid fa-gear fa-2x"></i>
                <p id="set">Setting</p>
            </div>



        </div>

        <div class="panel">
            <div class="plta">
                <div class="pl">
                    <div class="plname">
                        <p id="pl">Patients List</p>
                       <a href="{% url 'addpatient' %}"> <button id="addpl"><i class="fa-solid fa-plus"></i></button></a>
                    </div>
                    <p id="hline1">________________________________________________________________</p>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>City</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                    <td>Heet</td>
                                    <td>31</td>
                                    <td>Himmatnagar</td>
                                </tr>
                                <tr>
                                    <td>vivek</td>
                                    <td>43</td>
                                    <td>Jamnagar</td>
                                </tr>
                                <tr>
                                    <td>Vanshit</td>
                                    <td>37</td>
                                    <td>Anand</td>
                                </tr>
                                <tr>
                                    <td>Vanshit</td>
                                    <td>37</td>
                                    <td>Anand</td>
                                </tr>
                                <tr>
                                    <td>Vanshit</td>
                                    <td>37</td>
                                    <td>Anand</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'patientlist' %}"> <button class="more">
                   <i class="fa-solid fa-angles-down"></i>
                 
                    </button></a> 
                </div>
                <div class="ta">
                    <p id="pl">Today's Appointment</p>
                    <p id="hline1">________________________________________________________________</p>
                    <div class="table">
                        <table id="ta">
                            <thead>
                                <tr>

                                    <th>Patient Name</th>
                                    <th>Age</th>
                                    <th>Contact</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ramesh</td>
                                    <td>51</td>
                                    <td>9865232154</td>
                                </tr>
                                <tr>
                                    <td>Suresh</td>
                                    <td>43</td>
                                    <td>8754213265</td>
                                </tr>
                                <tr>
                                    <td>Mahesh</td>
                                    <td>39</td>
                                    <td>8765542165</td>
                                </tr>
                                <tr>
                                    <td>yasesh</td>
                                    <td>46</td>
                                    <td>8765453245</td>
                                </tr>
                                <tr>
                                    <td>yasesh</td>
                                    <td>46</td>
                                    <td>8765453245</td>
                                </tr>
                                <tr>
                                    <td>yasesh</td>
                                    <td>46</td>
                                    <td>8765453245</td>
                                </tr>
                                <tr>
                                    <td>yasesh</td>
                                    <td>46</td>
                                    <td>8765453245</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="more">
                        <i class="fa-solid fa-angles-down"></i>

                    </button>
                </div>
            </div>
            <div class="me">
                <div class="medicine">
                    <p id="pl">Prescription of Medicine</p>

                    <p id="hline1">________________________________________________________________</p>

                    <div class="table">
                        <table id="medii">

                            <tbody>
                                <tr>
                                    <td>Synthroid </td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> Crestor
                                    </td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Ventolin HFA</td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> Nexium </td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> Advair Diskus</td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> Lantus Solostar</td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> Hydrocodone</td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Generic Zocor</td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Lisinopril </td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Generic Norvasc </td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> Amoxicillin</td>
                                    <td><input type="checkbox" id="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'medicine' %}"><button class="more">
                        <i class="fa-solid fa-angles-down"></i>

                    </button></a>
                </div>
                <div class="availability">
                    <p id="pl">Availability</p>
                    <p id="hline1">________________________________________________________________</p>

                    <div class="table">
                        <table id="ava">
                            <thead>
                                <tr>

                                    <th>Objects</th>
                                    <th>NO.</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Normal room</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>AC room</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>General ward</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Semi-ICU</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>ICU</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Patient Monitor</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Wheel chair</td>
                                    <td>12</td>
                                </tr>

                                <tr>
                                    <td>POCs</td>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <td>EKGs</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Ultrasounds</td>
                                    <td>2</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <button class="more">
                        <i class="fa-solid fa-angles-down"></i>

                    </button>
                </div>
            </div>
            <div class="ps">
                <div class="payment">
                    <p id="pl">Payments</p>
                    <p id="hline1">________________________________________________________________</p>
                    <div class="para">
                    <p>- You can pay your totally Hospital related payments online securely like Medical Bill, Doctor Fees and other fees </p>
                    <p>- You also got Official Receipt from hospital of your payments.</p>
                    <p>- For online Payment<a href="{% url 'payment' %}">click here.</a></div></p>
         
                </div>
                <div class="staff">
                    <p id="pl">Staff</p>
                    <p id="hline1">________________________________________________________________</p>
                    <div class="table">
                        <table id="ava">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th style="padding-left: 90px;">Job   </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ajay</td>
                                    <td>Receptionist</td>
                                </tr>
                                <tr>
                                    <td>Shraddha</td>
                                    <td>Nurse</td>
                                </tr>
                                <tr>
                                    <td>Karina</td>
                                    <td>ER Nurse</td>
                                </tr>
                                <tr>
                                    <td>Aishwariya</td>
                                    <td>Critical Care Nurse</td>
                                </tr>
                                <tr>
                                    <td>Shruti</td>
                                    <td>Registered Nurse</td>
                                </tr>
                                <tr>
                                    <td>kiara</td>
                                    <td>Cardiac Nurse</td>
                                </tr>
                                <tr>
                                    <td>katerina</td>
                                    <td>Clinical Nurse Specialist </td>
                                </tr>

                                <tr>
                                    <td>pooja</td>
                                    <td>Nurse</td>
                                </tr>

                                <tr>
                                    <td>K.Johar</td>
                                    <td>compounder</td>
                                </tr>
                                <tr>
                                    <td>Selmon Bhoi</td>
                                    <td>Peon</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <button class="more">
                        <i class="fa-solid fa-angles-down"></i>

                    </button>
                </div>

            </div>


        </div>

    </div>

</body>


</html>