{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <title>Login</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <!--Stylesheet-->
  <style media="screen">


  </style>
</head>

<body onload="myfunction()">

<div id="loading"></div>
  <p class="pm">Patient Monitoring</p>
  <form method="POST">
    {% csrf_token %}

    <h3>Login Here</h3>
    <div class="maininput">
    <label for="Email">Email</label>
    <input type="email" placeholder=" Enter your Email" name="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password">
  </div>
    <input type="submit" id="submit" value="Log in">
    <div class="social">
      <div class="go"><i class="fab fa-google"></i><a
          href="https://accounts.google.com/AccountChooser/signinchooser?flowName=GlifWebSignIn&flowEntry=AccountChooser"
          style="text-decoration: none;">Google</a> </div>
      <div class="fb"><i class="fab fa-facebook"></i><a href="https://www.facebook.com/login/"
          style="text-decoration: none;">Facebook</a> </div>
    </div>
    <div class="ca">
      <a href="{% url 'signup' %}">Creat Account</a>
    </div>
  </form>
<p style="color: red;">  {{ error }}</p>
<script>
  var preloader = document.getElementById('loading');
  function myfunction(){
    preloader.style.display = 'none';
  }
</script>
</body>

</html>