{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/medicine.css' %}">
    <script src="https://kit.fontawesome.com/b5dde61ab1.js" crossorigin="anonymous"></script>
    <title>Notification</title>
</head>

<body>
    <div class="navbar">
        <img src="{% static 'images/bggg.png' %}" alt="logo" class="logo">
        <p class="pm"> Patient Monitoring</p>
        <div class="search">

            <input type="text" placeholder="search here..." id="searchbar">
            <div class="circle"></div>
            <a class="search-btn" href="{% url 'search' %}">
                <i class="fa-solid fa-magnifying-glass " id="sicon"></i>
            </a>

        </div>
        <a href="{% url 'noti' %}"> <i class="fa-solid fa-bell "></i></a>
        <img src="{% static 'images/profile.png' %}" alt="profile" class="prfle">
    </div>
    <div class="main">
        <div class="side">
            <div class="profile">
                <i class="fa-solid fa-user-doctor fa-4x"></i>
                <div class="pname">
                    <p>Dishant Adesara</p>
                    <p>Doctor</p>
                </div>

            </div>
            <p id="hline">______________________________________</p>
            <div class="sd">
                <i class="fa-solid fa-user-doctor fa-2x" id="doc"></i>
                <p id="sdp">Specialized Doctors</p>
            </div>
            <div class="sd">
                <i class="fa-regular fa-hospital fa-2x"></i>
                <a href="{% url 'hospital' %}"><p id="sdp">Hospitals</p></a>
            </div>
            <div class="sd">
                <i class="fa-solid fa-star-of-life fa-2x"></i>
                <p id="sdp">Emergency Ward</p>
            </div>
            <div class="sd">
                <i class="fa-solid fa-capsules fa-2x"></i>
                <a href="{% url 'medicine' %}">      <p id="sdp">Medicine</p></a>
            </div>
            <div class="sd">
                <p id="pay">₹</p>
            <a href="{% url 'payment' %}">    <p id="sdp">Payments</p></a>
            </div>
            <div class="setting">
                <i class="fa-solid fa-gear fa-2x"></i>
                <p id="set">Setting</p>
            </div>



        </div>

        <div class="panel">


            <div class="medicine">
                <div class="plname">
                    <p id="pl">Presception of Medicine</p>
                    
                    
                </div>
                <p id="hline1">
                    ________________________________________________________________________________________________________________________________________
                </p>
              
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Medicine</th>
                                <th style="padding-left: 80px;">Uses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1</td>
                                <td>Synthroid </td>
                                <td>corona</td>
                                <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Crestor
                                </td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td>Ventolin HFA</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Nexium </td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Advair Diskus</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Lantus Solostar</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Hydrocodone</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td>Generic Zocor</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td>Lisinopril </td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td>Generic Norvasc </td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                            <tr><td>1</td>
                                <td> Amoxicillin</td>
                               <td>corona</td>
                               <td><input type="checkbox" id="checkbox"></td>
    
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button id="buy">
                    <a href="{% url 'payment' %}" class="buya">    BUY</a>
                </button>

            </div>




        </div>


    </div>



</body>


</html>