{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <p class="pm">Patient Monitoring</p>

    <form method="POST">
      {% csrf_token %}

    <h3>Signup</h3>
    <div class="maininput">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter you name" name="username">

    <label for="Email">Email</label>
    <input type="email" placeholder="Enter your email" name="email">

    <label for="creatpassword">Creat Password</label>
    <input type="password" placeholder="Creat Password" name="password">
    </div>
    <input type="submit" id="submit" value="Creat Account">

    
    
  </form>


</body>
</html>