*{
    user-select: none;
}
body{
    background-color: #080710;
 
}
body::-webkit-scrollbar {
    display: none; 
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
}
.main{
    height: 950px;
    width: 100%;
    display: flex;
}
.side{
    height: 940px;
    width: 350px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 20px;
    
}
.panel{
    height: 940px;
    width: 1140px;
}
.logo{
    height: 80px;
    width: 100px;
    margin-top: -1px;
    padding: 0;
    border-width: 50%;
    margin-left: 10px;

}
.pm{
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    border: none;
    padding: 0;
    
    color: whitesmoke;
}
::placeholder{
    color: whitesmoke;
}

input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.13);
    color: white;
    border-radius: 40px;
    padding: 0 10px;
    margin-top: 1px;
    font-size: 17px;
    font-weight: 300;

}
.circle{
    height: 41px;
    width: 51px;
    background-color: #28272f;
    border-radius: 50%;
    margin-left: -55px;
    margin-top: 2px;
}
#sdp{
    margin-top: 10px;
}
.search{
    margin-top: 20px;
    margin-left: 400px;
    width: 500px;
    display: flex;
}
#sicon{
    margin-top: 5px;
    font-size: 20px;

}
.search-btn{
    color:whitesmoke;
    float: right;
   margin-top: 5px;
    border-radius: 50%;
    margin-left: -40px;
}

.fa-bell{
    color: whitesmoke;
    margin-left: 60px ;
    margin-top: 30px;
    font-size: 20px;
}
.prfle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 25px;
}
.fa-gear{
    color: whitesmoke;
    margin-left: 50px ;
    margin-top: 30px;
    font-size: 20px;

}
.fa-user-doctor{
    color: whitesmoke;
    margin-left: 40px ;
    margin-top: 40px; 
}
.profile{
    display: flex;
    color: whitesmoke;
    font-size: 20px;
}
.side a{
    text-decoration: none;
}
.pname{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}
#hline{
    margin-left: 20px;
    font-weight: bolder;
    color: #080710;
    padding: 0;
}
#doc{
    color: whitesmoke;
    margin-left: 40px ;
    margin-top: 35px; 

}
.sd{
    display: flex;
}
.sd i{
    font-size: 20px;
}
#sdp{
  color: whitesmoke;
  margin-top: 35px;
  margin-left: 30px;
  font-size: 20px;
}
.fa-hospital{
    color: whitesmoke;
    margin-left: 40px ;
    margin-top: 35px; 

}
.fa-star-of-life{
    color: whitesmoke;
    margin-left: 40px ;
    margin-top: 35px;    
}
.fa-capsules{
    color: whitesmoke;
    margin-left: 40px ;
    margin-top: 35px;    
}
#pay{
    color: whitesmoke;
    margin-left: 40px ;
    margin-top: 30px;  
    font-size: 30px;
}
.setting{
    margin-left: -10px;
    display: flex;
    margin-top: -20px;
}
#set{
    color: whitesmoke;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

.pi{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.pl{
    height: 300px;
    width: 550px;
    background-color: rgba(255,255,255,0.13);

    border-radius: 20px;
    margin-left: 20px;

}
.ta{
    height: 300px;
    width: 550px;
    background-color: rgba(255,255,255,0.13);

    border-radius: 20px;
    margin-left: 20px;

}
.plta{
    display: flex;
}
.medicine{
    height: 300px;
    width: 550px;
    background-color: rgba(255,255,255,0.13);

    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;

}
.availability{
    height: 300px;
    width: 550px;
    background-color: rgba(255,255,255,0.13);


    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
   
}
.me{
    display: flex;
}
.staff{
    height: 300px;
    width: 550px;
    background-color: rgba(255,255,255,0.13);

    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;

}
.payment{
    height: 300px;
    width: 550px;
    background-color: rgba(255,255,255,0.13);

    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;

}
.ps{
    display: flex;
}

#pl{
    color: whitesmoke;
    font-size: 20px;
    margin-left: 40px;
  
}
#hline1{
    margin-left: 20px;
    font-weight: bolder;
    color: #080710;
    padding: 0;
    margin-top:  -20px;
}
#checkbox{
    height: 25px;
    width: 25px;
}
.patienticon{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
.plname{
    display: flex;
}
#addpl{
 height: 35px;
 width: 35px;
 margin-left: 330px;
 margin-top: 12px;
 border-radius: 50%;
 font-size: 20px;
 background-color: #28272f ;
 color: #1baff3;
 border: 2px solid #1baff3;

}
#addpl:hover{
    border: 2px solid #1baff3;
    color: white;
    background-color: #1baff3;
}


.ta table{
        height: 150px;
        width: 500px;
        margin-top: -10px;
        margin-left: 15px;
        border-color: #080710;
        color: whitesmoke;
        text-align: center;
}
.pl .more{
    border: 2px solid #1baff3;
    background-color: #28272f;
    color: #1baff3;
    margin-left: 270px;
    margin-top: -5px;
    border: none;
    height: 30px;
width: 30px;
border-radius: 50%;
border: none;  
}

#medii{
    height: 150px;
    width: 400px;
    margin-top: -5px; 
    margin-left: 40px; 
    border-color: #080710;
    color: whitesmoke;
    text-align: left;
}
#medii tbody{
    height: 200px;
}


table{
    width: 520px;
    height: 220px;
    display: block;
    text-align: left;
    margin-top: -10px;
    margin-left: 15px;
    border-color: #080710;
    color: whitesmoke;
}
thead{
    display: inline-block;
    width: 520px;
    height: 30px;
}
tbody{
    height: 180px;
    display: inline-block;
    width: 520px;
    overflow: auto;
}
td{
    padding-left: 40px;
    padding-right: 35px;

}
th{
    padding-left: 41px;
    padding-right: 41px;
}
tbody::-webkit-scrollbar {
    display: none; 
}

#ta td{
    padding-left: 75px;
    padding-right: 45px;
    padding-top: 10px;

}
#ta th{
    padding-left: 55px;
    padding-right: 50px;
}

.more{
    border: 2px solid #1baff3;
    background-color: #28272f;
    color: #1baff3;
    margin-left: 270px;
    margin-top: 60px;
    border: none;
    height: 30px;
width: 30px;
border-radius: 50%;
border: none;  

}

.more:hover{
    cursor: pointer;
    border: 2px solid #1baff3;
    background-color: #1baff3;
    color: white;
    
}
.ta .more{
    margin-top: 65px;
}
.down{
 
    height: 30px;
    width: 30px;
    margin-left: -6px;
    margin-top: 2px;

}
#medii .more{
    margin-top: 20px;
}
.availability td{
    padding-left: 20px;
}
.availability .more{
    margin-top: -10px;
    margin-left: 200px ;
}
.staff th{
    padding-left: 35px;
    text-align: center;
}
.staff td{
    padding-top: 10px;
    padding-left: 10px;
text-align: center;
}
.staff table{
    text-align: left;
}
.staff .more{
    margin-top: -5px;
}
.para p{
    color: whitesmoke;
    font-size: 15px;
    margin-left: 20px;
}
.para a{
    color: #1baff3;
    text-decoration: none;
   margin-left: 10px;
}
