*{
    user-select: none;
}
body{
    background-color: #080710;
 background-repeat: no-repeat;
}
body::-webkit-scrollbar {
    display: none; 
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
}
.logo{
    height: 150px;
    width: 150px;
}
.pm{
    font-size: 40px;
    color: white;
}
.payment{
    font-size: 40px;
    color: white;
    margin-left: 700px;
    
}
.bi{
    height: 550px;
    width: 725px;
    background-color: #28272f;
    border-radius: 20px;
    margin-left: 20px;

}
.pi{
    height: 550px;
    width: 725px;
    background-color: #28272f;
    margin-left: 30px;
    border-radius: 20px;
}
.main{
    display: flex;
    margin-top: 80px;
}

#hline1{
    margin-left: 20px;
    font-weight: bolder;
    color: #080710;
    margin-top: -20px;
}
#pl{
    font-size: 20px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
input{
    display: block;
    height: 50px;
    width: 200px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
    color: white;
}
::placeholder{
    color: #e5e5e5;
}
.db{
    display: flex;
}
.bill{
    height: 450px;
    width: 440px;
    border-radius: 5px;
    background-color: #37363e;
    margin-left: 20px;
}
table{
    height: 330px;
    width: 400px;
    margin-left: 20px;
    margin-top: -10px;
    display: block;
    text-align: left;
    color: whitesmoke;


}
thead{
    display: inline-block;
    
}
tbody{
    display: inline-block;
    height: 270px;
    width: 400px;
    overflow: auto;
}
th{
    padding-left: 31px;
    padding-right: 31px;
}
td{
    padding-left: 21px;
    padding-right: 21px;
}

tbody::-webkit-scrollbar {
    display: none; 
}
#total{
    color: white;
    font-style: bolder;
    margin-left: 250px;
}
#total1{
    margin-left: 10px;
    color: white;
    font-style: bolder;

}
.totalp{
    display: flex;
    margin-top: -20px;

}

select{
    color: white;
    background-color: #37363e;
    border-radius: 5px;   
    margin-left: 10px;
    height: 30px;
    margin-top: 10px;
}
.dm{
    display: flex;
    margin-left: 20px;
    margin-top: -10px;
}
.fr p{
    color: white;
    margin-left: 10px;
}
.paybtn{
    margin-left: 1px;
    margin-top: 20px;
}
.paybtn button{
    color: white;
    background-color: rgba(255,255,255,0.07);

    border-radius: 5px;
    height: 40px;
    width: 70px;
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
}
.fr input{
    height: 40px;
    margin-top: -10px;
    margin-left: 10px;
}
#amtp{
    margin-left: 80px;
    margin-top: 5px;
}
.fr{
    display: flex;
}
.sr{
    display: flex;
}
#srp {
 color: white;
margin-top: 30px;
margin-left: 20px;
}
.cradio{
    height: 20px;
    width: 20px;
}
.pradio{
    display: flex;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.pradio p  {
    margin-left: 10px;
    margin-top: 20px;
}
.test p{
    color: white;
    margin-left: 10px;

}
.test{
    margin-top:10px;
    margin-left: 20px;
}
.test input{
    margin-top: 50px;
    margin-left: -90px;
    height: 40px;
    width: 300px;
}
#mo{
    height: 40px;
    width: 150px;
    margin-left: -50px;
}
#mop{
    margin-left: 80px;

}

#hn{
    margin-left: -120px;
    margin-top: 60px;
}
#c{
    display: flex;
}
#b{
    display: flex;
}
#ch{
    margin-top: 30px;
}
#vccv{
    margin-top: 30px;
    margin-left: 80px;
}
#cvvc{
    height: 40px;
    width: 80px;
    margin-top: 60px;
    margin-left: -75px;   
}
#hn1{
    margin-left: -140px;
    margin-top: 60px;
}
.pay{
    margin-top: -5px;
    color: white;
    background-color: rgba(255,255,255,0.07);

    border-radius: 5px;
    height: 40px;
    width: 300px;
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
    border-color: #1baff3;

}
.payc{
    margin-left: 200px;
}
.check{
    height: 15px;
    width: 15px;
    margin-top: 27px;
    cursor: pointer;
}
.tc{
    display: flex;
    margin-left: -85px;
}
.tc a{
    text-decoration: none;
    color: #1baff3;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 15px;
    
}
.tc p{
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 15px;
}
.last{
    margin-top: 30px;
}